<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easaa.user.dao.UserBindingMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<sql id="condition">
		<if test="pd.binding_id != null">
			and binding_id = #{pd.binding_id}
		</if>
		<if test="pd.user_id != null">
			and user_id = #{pd.user_id}
		</if>
		<if test="pd.bank_name != null">
			and bank_name = #{pd.bank_name}
		</if>
		<if test="pd.bank_type != null">
			and bank_type = #{pd.bank_type}
		</if>
		<if test="pd.bank_card_no != null">
			and bank_card_no = #{pd.bank_card_no}
		</if>
		<if test="pd.create_time != null">
			and create_time = #{pd.create_time}
		</if>
		<if test="pd.is_default != null">
			and is_default = #{pd.is_default}
		</if>
	</sql>

	<select id="selectByPage" resultType="pd"  parameterType="page">
		select * from t_user_binding where 1=1
			<include refid="condition"></include>
	</select>

	<select id="selectByMap" resultType="pd"  parameterType="pd">
		select * from t_user_binding where 1=1
			<include refid="condition"></include>
	</select>

	<select id="selectById" resultType="pd"  parameterType="Integer">
		SELECT * from t_user_binding where binding_id = #{id}
	</select>

	<insert id="insert" parameterType="pd">
		insert into t_user_binding (user_id,bank_name,bank_type,bank_card_no,create_time,bank_logo,is_default)
		values (#{user_id},#{bank_name},#{bank_type},#{bank_card_no},#{create_time},#{bank_logo},0)
	</insert>
	<update id="update" parameterType="pd">
		update t_user_binding <set>
		<if test="bank_name != null">
			bank_name = #{bank_name},
		</if>
		<if test="bank_type != null">
			bank_type = #{bank_type},
		</if>
		<if test="bank_card_no != null">
			bank_card_no = #{bank_card_no},
		</if>
		<if test="create_time != null">
			create_time = #{create_time},
		</if>
		<if test="is_default != null">
			is_default = #{is_default},
		</if>
		</set>
		where 1=1
		<if test="binding_id!=null">
			and binding_id = #{binding_id}
		</if>
		<if test="user_id!=null">
			and user_id = #{user_id}
		</if>
	</update>

	<delete id="delete"   parameterType="pd">
		delete from t_user_binding where 1=1
			<include refid="condition"></include>
	</delete>
	
	<select id="selectBinding" resultType="pd" parameterType="pd">
		select * from t_user_binding bd
		 INNER JOIN t_user u on u.user_id = bd.user_id where 
		 bd.user_id = #{user_id}
	</select>
</mapper>