<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easaa.goods.dao.DesignerCollectMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<sql id="condition">
		<if test="pd.designer_collect_id != null">
			and designer_collect_id = #{pd.designer_collect_id}
		</if>
		<if test="pd.user_id != null">
			and user_id = #{pd.user_id}
		</if>
		<if test="pd.designer_id != null">
			and designer_id = #{pd.designer_id}
		</if>
		<if test="pd.create_time != null">
			and create_time = #{pd.create_time}
		</if>
	</sql>

	<select id="selectByPage" resultType="pd"  parameterType="page">
		select * from t_designer_collect where 1=1
			<include refid="condition"></include>
	</select>

	<select id="selectByMap" resultType="pd"  parameterType="pd">
		select * from t_designer_collect where 1=1
			<include refid="condition"></include>
	</select>
	
	<select id="designerCollectList" resultType="pd"  parameterType="pd">
		SELECT b.designer_id,b.designer_img,b.designer_name,b.designer_concept,b.designer_desc 
		from t_designer_collect a LEFT JOIN t_designer b on a.designer_id = b.designer_id where a.user_id = #{user_id}
	</select>

	<select id="selectById" resultType="pd"  parameterType="Integer">
		SELECT * from t_designer_collect where designer_collect_id = #{id}
	</select>

	<insert id="insert" parameterType="pd">
		insert into t_designer_collect (user_id,designer_id,create_time)
		values (#{user_id},#{designer_id},#{create_time})
	</insert>

	<update id="update" parameterType="pd">
		update t_designer_collect <set>
		<if test="user_id != null">
			user_id = #{user_id},
		</if>
		<if test="designer_id != null">
			designer_id = #{designer_id},
		</if>
		<if test="create_time != null">
			create_time = #{create_time},
		</if>
		</set>
		where designer_collect_id = #{designer_collect_id}
	</update>

	<delete id="delete"   parameterType="pd">
		delete from t_designer_collect where 1=1
			<include refid="condition"></include>
	</delete>
</mapper>