<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easaa.rebate.dao.RebateStatsMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<!-- 收益统计 -->
	<sql id="condition">
		<if test="pd.id != null">
			and id = #{pd.id}
		</if>
		<if test="pd.user_id != null">
			and rec_user_id = #{pd.user_id}
		</if>
		<if test="pd.current_user_id != null">
			and user_id = #{pd.current_user_id}
		</if>
		<if test="pd.month != null">
			and month = #{pd.month}
		</if>
		<if test="pd.amount != null">
			and amount = #{pd.amount}
		</if>
		<if test="pd.rebate_1 != null">
			and rebate_1 = #{pd.rebate_1}
		</if>
		<if test="pd.rebate_2 != null">
			and rebate_2 = #{pd.rebate_2}
		</if>
		<if test="pd.rebate_3 != null">
			and rebate_3 = #{pd.rebate_3}
		</if>
		<if test="pd.points_1 != null">
			and points_1 = #{pd.points_1}
		</if>

	</sql>
	<select id="selectIncomeByPage" resultType="pd" parameterType="page">
		select * from t_rebate_stats_income where 1=1
		<include refid="condition"></include>
	</select>
	<select id="selectByMap" resultType="pd" parameterType="page">
		select * from t_rebate_stats_income where 1= 1
		<include refid="condition"></include>
	</select>
	<select id="selectIncomeBackstageByPage" resultType="pd"
		parameterType="page">
		SELECT
		trsi.*, tu.nick_name
		FROM
		t_rebate_stats_income trsi
		LEFT JOIN
		t_user tu ON trsi.user_id = tu.user_id
		where 1=1
		<if test="pd.nick_name != null and pd.nick_name!=''">
			AND tu.nick_name = #{pd.nick_name}
		</if>
		<if test="pd.month != null and pd.month!=''">
			AND trsi.month in (${pd.month})
		</if>
		ORDER BY trsi.last_update DESC
	</select>

	<select id="selectIncomeByMap" resultType="pd" parameterType="pd">
		select * from t_rebate_stats_income where 1=1
		<if test="user_id != null">
			and user_id = #{user_id}
		</if>
		<if test="month != null">
			and month = #{month}
		</if>
	</select>

	<insert id="insertIncome" parameterType="pd">
		insert into
		t_rebate_stats_income
		(user_id,month,amount,rebate_1,rebate_2,rebate_3,points_1,points_2,points_3,last_update)
		values
		(#{user_id},#{month},#{amount},#{rebate_1},#{rebate_2},#{rebate_3},#{points_1},#{points_2},#{points_3},#{last_update})
	</insert>

	<update id="updateIncome" parameterType="pd">
		update t_rebate_stats_income
		<set>
			<if test="user_id != null">
				user_id = #{user_id},
			</if>
			<if test="month != null">
				month = #{month},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="rebate_1 != null">
				rebate_1 = #{rebate_1},
			</if>
			<if test="rebate_2 != null">
				rebate_2 = #{rebate_2},
			</if>
			<if test="rebate_3 != null">
				rebate_3 = #{rebate_3},
			</if>
			<if test="points_1 != null">
				points_1 = #{points_1},
			</if>
			<if test="points_2 != null">
				points_2 = #{points_2},
			</if>
			<if test="points_3 != null">
				points_3 = #{points_3},
			</if>
			<if test="last_update != null">
				last_update = #{last_update},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 收益统计结束 -->



	<!-- 贡献统计 -->
	<!--后台专用 -->
	<select id="selectGiveBackstageByPage" resultType="pd"
		parameterType="page">
		SELECT
		trsg.*, tu.nick_name
		FROM
		t_rebate_stats_give trsg
		LEFT JOIN t_user
		tu ON trsg.user_id = tu.user_id
		WHERE 1=1
		<if test="pd.nick_name != null and pd.nick_name!=''">
			AND tu.nick_name = #{pd.nick_name}
		</if>
		<if test="pd.month != null and pd.month!=''">
			AND trsg.month in (${pd.month})
		</if>
		ORDER BY trsg.last_update DESC
	</select>

	<!-- APP -->
	<select id="selectGiveByPage" resultType="pd" parameterType="page">
		SELECT tu.nick_name,tu.head_portrait,tu.user_name,trsg.*,tr.rec_type
		FROM t_user_relation AS tr
		LEFT JOIN t_user AS tu ON tr.child_user_id =
		tu.user_id
		LEFT JOIN
		t_rebate_stats_give AS trsg ON tr.child_user_id =
		trsg.user_id
		WHERE 1=1
		<if test="pd.user_id != null">
			AND tu.user_id = #{pd.user_id}
		</if>
		<if test="pd.rec_user_id != null">
			AND tr.rec_user_id = #{pd.rec_user_id}
		</if>
		<if test="pd.month != null">
			AND trsg.month = #{pd.month}
		</if>
		<if test="pd.rec_type != null">
			AND tr.rec_type = #{pd.rec_type}
		</if>
		<if test="pd.orderBy != null">
			ORDER BY trsg.${pd.orderBy} DESC
		</if>
	</select>
	<!-- 下级分销商列表(作废selectClassifications) -->
	<select id="selectClassifications" resultType="pd"
		parameterType="page">
		SELECT
		tu.user_id,tu.nick_name,tu.head_portrait,tu.user_name,trsg.amount,tr.rec_type
		,
		(select SUM(trsg.amount) money FROM t_user_relation AS tr LEFT JOIN
		t_user AS tu ON tr.child_user_id = tu.user_id LEFT JOIN
		t_rebate_stats_give AS trsg ON tr.child_user_id = trsg.user_id WHERE
		1=1
		<if test="pd.rec_user_id != null">
			AND tr.rec_user_id = #{pd.rec_user_id}
		</if>
		<if test="pd.month != null">
			AND trsg.month = #{pd.month}
		</if>
		<if test="pd.rec_type != null">
			AND tr.rec_type = #{pd.rec_type}
		</if>
		) money
		FROM t_user_relation AS tr
		LEFT JOIN t_user AS tu ON
		tr.child_user_id = tu.user_id
		LEFT JOIN
		t_rebate_stats_give AS trsg ON
		tr.child_user_id = trsg.user_id
		WHERE 1=1
		<if test="pd.user_id != null">
			AND tu.user_id = #{pd.user_id}
		</if>
		<if test="pd.rec_user_id != null">
			AND tr.rec_user_id = #{pd.rec_user_id}
		</if>
		<if test="pd.month != null">
			AND trsg.month = #{pd.month}
		</if>
		<if test="pd.rec_type != null">
			AND tr.rec_type = #{pd.rec_type}
		</if>
		<if test="pd.orderBy != null">
			ORDER BY trsg.${pd.orderBy} DESC
		</if>
	</select>

	<!-- 下级分销商列表 -->
	<select id="selectClassification" resultType="pd" parameterType="page">
		SELECT
		tg.id as recid,
		tu.user_id,
		tg.month,
		tg.amount,
		tg.rebate_1,
		tg.rebate_2,
		tg.rebate_3,
		tg.points_1,
		tg.points_2,
		tg.points_3,
		tur.rec_type,
		tu.head_portrait,
		tu.headimgurl,
		tu.nick_name,
		tu.register_time
		FROM
		t_user_relation tur
		LEFT JOIN t_user tu ON
		tur.child_user_id = tu.user_id
		LEFT JOIN t_rebate_stats_give tg ON
		tur.child_user_id = tg.user_id
		where 1=1
		<if test="pd.rec_user_id != null">
			AND tur.rec_user_id = #{pd.rec_user_id}
		</if>
		<if test="pd.month != null">
			AND tg.month = #{pd.month}
		</if>
		<if test="pd.rec_type != null">
			AND tur.rec_type = #{pd.rec_type}
		</if>
		<if test="pd.orderBy != null and pd.orderBy == 1">
			ORDER BY tu.register_time
		</if>
	</select>
	<!-- 所有下级分销商列表（分页） -->
	<select id="selectificationPage" resultType="pd" parameterType="page">
		SELECT
		tg.id as recid,
		tu.user_id,
		tg.month,
		tg.amount,
		tg.rebate_1,
		tg.rebate_2,
		tg.rebate_3,
		tg.points_1,
		tg.points_2,
		tg.points_3,
		tur.rec_type,
		tu.head_portrait,
		tu.headimgurl,
		tu.nick_name,
		tu.register_time,
		tu.subscribe
		FROM
		t_user_relation tur
		LEFT JOIN t_user
		tu ON
		tur.child_user_id = tu.user_id
		LEFT JOIN t_rebate_stats_give tg ON
		tur.child_user_id = tg.user_id
		where 1=1
		AND tur.rec_user_id =
		#{pd.rec_user_id}
		<if test="pd.month != null and pd.month!=''">
			AND tg.month = #{pd.month}
		</if>
		<if test="pd.rec_type != null and pd.rec_type">
			AND tur.rec_type in (${pd.rec_type})
		</if>
		ORDER BY tur.rec_type,tu.register_time
	</select>
	<!-- 查询下级分销商列表不分页 -->
	<select id="selectification" resultType="pd" parameterType="pd">
		SELECT
		tg.id as recid,
		tu.user_id,
		tg.month,
		tg.amount,
		tg.rebate_1,
		tg.rebate_2,
		tg.rebate_3,
		tg.points_1,
		tg.points_2,
		tg.points_3,
		tur.rec_type,
		tu.head_portrait,
		tu.headimgurl,
		tu.nick_name,
		tu.register_time
		FROM
		t_user_relation tur
		LEFT JOIN t_user tu ON
		tur.child_user_id = tu.user_id
		LEFT JOIN t_rebate_stats_give tg ON
		tur.child_user_id = tg.user_id
		where 1=1
		AND tur.rec_user_id =
		#{rec_user_id}
		<if test="month != null and month!=''">
			AND tg.month = #{month}
		</if>
		<if test="rec_type != null and rec_type!=''">
			AND tur.rec_type in (${rec_type})
		</if>
		ORDER BY tur.rec_type,tu.register_time
	</select>

	<select id="selectGiveByMap" resultType="pd" parameterType="pd">
		SELECT
		tu.user_id,tu.nick_name,tu.head_portrait,tu.user_name,trsg.*,tr.rec_type
		FROM t_user_relation AS tr
		LEFT JOIN t_user AS tu ON tr.child_user_id =
		tu.user_id
		LEFT JOIN
		t_rebate_stats_give AS trsg ON tr.child_user_id =
		trsg.user_id
		WHERE 1=1
		<if test="user_id != null">
			AND tu.user_id = #{user_id}
		</if>
		<if test="rec_user_id != null">
			AND tr.rec_user_id = #{rec_user_id}
		</if>
		<if test="month != null">
			AND trsg.month = #{month}
		</if>
		<if test="rec_type != null">
			AND tr.rec_type = #{rec_type}
		</if>
		<if test="orderBy != null">
			ORDER BY trsg.${orderBy} DESC
		</if>
	</select>

	<select id="selectGiveSelfByMap" resultType="pd" parameterType="pd">
		SELECT
		*
		FROM
		t_rebate_stats_give
		WHERE
		1 = 1
		<if test="user_id != null">
			AND user_id = #{user_id}
		</if>
		<if test="month != null">
			AND month = #{month}
		</if>
	</select>

	<insert id="insertGive" parameterType="pd">
		insert into
		t_rebate_stats_give
		(user_id,month,amount,rebate_1,rebate_2,rebate_3,points_1,points_2,points_3,last_update)
		values
		(#{user_id},#{month},#{amount},#{rebate_1},#{rebate_2},#{rebate_3},#{points_1},#{points_2},#{points_3},#{last_update})
	</insert>

	<update id="updateGive" parameterType="pd">
		update t_rebate_stats_give
		<set>
			<if test="user_id != null">
				user_id = #{user_id},
			</if>
			<if test="month != null">
				month = #{month},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="rebate_1 != null">
				rebate_1 = #{rebate_1},
			</if>
			<if test="rebate_2 != null">
				rebate_2 = #{rebate_2},
			</if>
			<if test="rebate_3 != null">
				rebate_3 = #{rebate_3},
			</if>
			<if test="points_1 != null">
				points_1 = #{points_1},
			</if>
			<if test="points_2 != null">
				points_2 = #{points_2},
			</if>
			<if test="points_3 != null">
				points_3 = #{points_3},
			</if>
			<if test="last_update != null">
				last_update = #{last_update},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 贡献统计结束 -->


	<select id="selectCountRelation" parameterType="pd" resultType="Integer">
		select COUNT(userr.id) userCount from t_user_relation userr where
		userr.rec_user_id = #{user_id}
		<if test="rec_type != null and rec_type != ''">
			and userr.rec_type =#{rec_type}
		</if>
	</select>





</mapper>