<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easaa.order.dao.OrdersPayMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
	<sql id="condition">
		<if test="pd.pay_id != null">
			and pay_id = #{pd.pay_id}
		</if>
		<if test="pd.order_id != null">
			and order_id = #{pd.order_id}
		</if>
		<if test="pd.order_type != null">
			and order_type = #{pd.order_type}
		</if>
		<if test="pd.pay_sn != null">
			and pay_sn = #{pd.pay_sn}
		</if>
		<if test="pd.pay_money != null">
			and pay_money = #{pd.pay_money}
		</if>
		<if test="pd.is_paid != null">
			and is_paid = #{pd.is_paid}
		</if>
		<if test="pd.pay_type != null">
			and pay_type = #{pd.pay_type}
		</if>
		<if test="pd.create_time != null">
			and create_time = #{pd.create_time}
		</if>
	</sql>

	<select id="selectByPage" resultType="pd"  parameterType="page">
		select * from t_orders_pay where 1=1
			<include refid="condition"></include>
	</select>

	<select id="selectByMap" resultType="pd"  parameterType="pd">
		select * from t_orders_pay where 1=1
			<include refid="condition"></include>
	</select>

    <!-- 根据流水号获得对应的订单号 -->
	<select id="selectByPaySnId" resultType="pd"  parameterType="String">
		SELECT * from t_orders_pay where pay_sn = #{pay_sn}
	</select>
	
	<select id="selectById" resultType="pd"  parameterType="Integer">
		SELECT * from t_orders_pay where pay_id = #{id}
	</select>

	<insert id="insert" parameterType="pd">
		insert into t_orders_pay (order_id,order_type,pay_sn,pay_money,is_paid,pay_type,create_time)
		values (#{order_id},#{order_type},#{pay_sn},#{pay_money},#{is_paid},#{pay_type},#{create_time})
	</insert>

	<update id="update" parameterType="pd">
		update t_orders_pay <set>
		<if test="order_id != null">
			order_id = #{order_id},
		</if>
		<if test="order_type != null">
			order_type = #{order_type},
		</if>
		<if test="pay_sn != null">
			pay_sn = #{pay_sn},
		</if>
		<if test="pay_money != null">
			pay_money = #{pay_money},
		</if>
		<if test="is_paid != null">
			is_paid = #{is_paid},
		</if>
		<if test="pay_type != null">
			pay_type = #{pay_type},
		</if>
		<if test="create_time != null">
			create_time = #{create_time},
		</if>
		</set>
		where pay_sn = #{pay_sn}
	</update>

	<delete id="delete"   parameterType="pd">
		delete from t_orders_pay where 1=1
			<include refid="condition"></include>
	</delete>
</mapper>